*{
  margin:0;
  padding:0;
  border:0;
  outline:0;
}
body {
    width: auto;
    font-family: Playfair Display;
    color: black;

}

h1{
  font-family: Nanum Myeongjo;
font-size: 50px;
}

ul {
  list-style-type: none;
  overflow: hidden;

}

li.home {
  float: right;
  font-family: Bree Serif;
  font-size: 16px;
}
li.name {
  float: left;
  font-family: Bree Serif;
  font-size: 16px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  color: #BC986A;
}

.wrap {
    width: 100%;
}

.floatleft {
    float:left;
    background-image: linear-gradient(to bottom right, #BC986A, #EFE2BA);
    width: 50%;
    height: 94.65vh;
}

img {
  position: absolute;
  left: 250px;
  top: 250px;
  border-radius: 40px;
}

.floatright {
    float: right;
    background-color: #EFE2BA;
    height: 94.65vh;
    width: 50%;
}

a{
  text-decoration: none;
}

.button {
  border: none;
  color: white;
  padding: 16px 90px;
  font-family: Playfair Display;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 10px;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid grey;
}

.button1:hover {
  background-color: #BC986A;
  color: white;
}
